.body{
    width:100%;
    margin-top: 0;
}

.navbar{
    margin-left: 10%;
    margin-right: 10%;
   background: grey;
   display: flex;
   flex-direction: row;
   padding: 2%;
   border-radius: 10px;
   /* color: white; */
   /* border-width:; */
}

/* .navbar:hover{
    background: skyblue;
} */

.navbar span{
    font-style: italic;
    font-size: x-large;
    color: gold;
    padding-left: 1%;
}

.navbar img{
    width: 5%;
    height: 2%;
    border-radius: 50%;
    padding-bottom: 2px;
}

.navbar span:hover{
    color: white;
}

.anchor{
    display: inline;
    margin-left: auto;
    text-decoration: none;
    width: 50%;
}

.anchor a{
    text-decoration: none;
    color: black;
}

.anchor a:hover{
    color: white;
}

#home{
    padding-left: 15%;
}
#aboutus{
    padding-left: 20%;
}

#contact{
    padding-left: 20%;
}


/* This portion for Hero Section */

.herosection{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    border: gray 2px solid;
    display: flex;
    /* background-color: lightgray; */
    box-shadow: 10px 10px 5px lightgray;
    border-radius: 5px;

}

.herotext{
    width: 50%;
    /* border: black 2px solid; */
    text-align: center;
    /* background: lightgrey; */
    /* color: gold; */
    font-size: 40px;
}

.herotext p{
    /* color: black; */
    font-size: 40px;
}



/* Our Services */
.services{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    text-align: center;
}


/* Card Section Started */

.cardsection{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    /* border: black 2px solid; */
    display: flex;
}

.card1{
    /* border: black 2px solid; */
    margin-top: 2%;
    width: 25%;
}

.card1 img{
    height: 100%;
    width: 100%;
    justify-content: center;
    border-bottom: black 2px solid;
    
}



.card2{
    width: 25%;
}

.card2 img{
    height: 100%;
    width: 100%;
}

